.fb-profile-block {
    margin: auto;
    position: relative;
    /* width: 850px; */
}

.fb-profile-block-thumb {
    display: block;
    height: 215px;
    background-color: white;
    border-top: 1px solid #d3d6db;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
}

.fb-profile-block-thumb img {
    max-width: 100%;
}

.fb-profile-block-menu {
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 3px;
}

.profile-img a {
    bottom: 15px;
    box-shadow: none;
    display: block;
    left: 15px;
    padding: 1px;
    position: absolute;
    height: 160px;
    width: 160px;
    z-index: 9;
}

.profile-img img {
    border-radius: 50%;
    background-color: #fff;
    height: 158px;
    padding: 1px;
    width: 158px;
}

.profile-name {
    bottom: 43px;
    left: 145px;
    border: 1px solid #d3d6db;
    position: absolute;
    background-color: white;
    padding: 5px 5px 5px 40px;
}
.profile-name1 {
    bottom: 50px;
    right: 50px;
    position: absolute;
}

.profile-name h2 {
    line-height: 5px;
    border-radius: 5px;
}

.fb-profile-block-menu {
    height: 44px;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.block-menu {
    clear: right;
    padding-left: 205px;
}

.block-menu ul {
    margin: 0;
    padding: 0;
}

.block-menu ul li {
    display: inline-block;
}

.block-menu ul li a {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    line-height: 3.0;
    padding: 0 17px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    color: #4b4f56;
    text-transform: capitalize;
}