// this code make the navbar inline on mobile. Without this code it will be line by line.

.nav-user-last {
  bottom: 0;
  position: absolute;
  padding: 7px;
}

.navbar-right {
  float: right !important;
}

// end

.navbar-brand {
  padding: 0 15px;

  img {
    max-height: 30px;
    margin-top: 10px;
  }
}

.round-img {
  img {
    border-radius: 50%;
  }
}

.dropdown-menu>li>a:hover {
  background-color: $main_color;
}

.hover12>a:hover {
  background-color: $main_color;
}

.active1 {
  text-decoration: underline;
}

.navbar-fixed-top-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

@media only screen and (max-width: 689px) {
  #myNavbar {
    background-color: #f6f6f6;
    position: absolute;
    top: 50px;
    width: 80%;
    z-index: 3;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .form_search1 {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 4;
  }

  .navbar-nav {
    margin: 6px -5px 1px 1px;
  }
}

.mobile-quick-menu {
  .active {
    border-bottom: 2px solid $main_color;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.app-bar-text {
  font-size: 11px;
}

.vertical-menu {
  line-height: 0.5;
}

@media (min-width: 765px) {
  .container-fluid {
    padding-left: 65px;
    padding-right: 65px;
  }
}
